backend/node_modules
backend/.env

# Hardhat files
backend/cache
backend/artifacts
backend/gas-report.txt
backend/coverage.json
backend/coverage
backend/deployments

# TypeChain files
backend/typechain
backend/typechain-types

# solidity-coverage files
backend/coverage
backend/coverage.json
